AIRLOCK_PORT=8787
AIRLOCK_PUBLIC_BASE_URL=http://localhost:8787
AIRLOCK_SESSION_HOST=localhost
AIRLOCK_DOCKER_SOCKET_PATH=/var/run/docker.sock
AIRLOCK_DEFAULT_TTL_SECONDS=1800
AIRLOCK_DEFAULT_BROWSER=chromium
AIRLOCK_VNC_PASSWORD=change-me
AIRLOCK_IMAGE_CHROMIUM=kasmweb/chromium:1.18.0
AIRLOCK_IMAGE_CHROME=kasmweb/chrome:1.18.0
AIRLOCK_IMAGE_FIREFOX=kasmweb/firefox:1.18.0
AIRLOCK_IMAGE_EDGE=kasmweb/edge:1.18.0
AIRLOCK_IMAGE_BRAVE=kasmweb/brave:1.18.0
AIRLOCK_IMAGE_VIVALDI=kasmweb/vivaldi:1.18.0
AIRLOCK_IMAGE_TOR=kasmweb/tor-browser:1.18.0
AIRLOCK_INTERNAL_TOKEN=local-dev-token
